<%= render :partial => "shared/user_info", :locals => {:user => @current_user} %>

<h1>Managers</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <% @current_user.managers.each do |manager| %>
    <%= render :partial => "shared/user_info_row", :locals => {:user => manager} %>
  <% end %>
</table>
