<% if flash.instance_eval("@flashes").present? %>
  <div class="flashes">
    <% if flash[:success] %>
      <p class="flash success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="flash notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="flash error"><%= flash[:error] %></p>
    <% end %>
  </div>

  <style>
    .flash {
      padding: 16px 12px; }

    .flash p {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0; }

    .notice {
      background-color: #fdf8e9;
      color: rba(102, 102, 102); }
  </style>
<% end %>