<% if flash.instance_eval("@flashes").present? %>
  <div class="flashes">
    <% if flash[:success] %>
      <p class="flash success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="flash notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="flash error"><%= flash[:error] %></p>
    <% end %>
  </div>

  <style>
    .flash {
      padding: 16px 12px; }

    .flash p {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0; }

    .notice {
      background-color: #fdf8e9;
      color: rba(102, 102, 102); }

    .flash.error,
    .errorExplanation h2 {
      background-color: #c00;
      color: #fff; }

    .errorExplanation h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px; }
  </style>
<% end %>